

html {

    font-size: 20px;

}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("../images/background-backlight-blur-262713.jpg");
    background-size: cover;
}

.wrapper {
    margin: 0 auto;
    max-width: 500px;
    font-size: 20px;
    line-height: 2;
    position: relative;
}

.menu {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 100px 0;
}

.menu a {
    display: inline-block;
    padding: 5px;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #065a62;
    background: rgba(0,0,0,0.05);
    border-radius: 20px;
}

.highlight {
    transition: all 0.2s;
    border-bottom: 2px solid white;
    position: absolute;
    top: 0;
    background: white;
    left: 0;
    z-index: -1;
    border-radius: 20px;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}